body {
  font-family: 'Open Sans', sans-serif;
  font-size: 1.15rem;
}
h1 {
  font-family: 'Montserrat', sans-serif;
  font-size: 3.5rem;
  line-height: 1.5;
}
h2 {
  font-family: 'Montserrat', sans-serif;
  font-size: 2.5rem;
  line-height: 1.5;
}
h3 {
  font-family: 'Open Sans', sans-serif;
  font-size: 1.5rem;
  font-weight: bold;
  color: #06283D;
}

.p_no_sp{
  margin: 0;
  padding: 0;
}

/* a{
  color: #47B5FF;
}
a:hover {
  color: #256D85;
}
a:active{
  color: #256D85;
  font-weight: bolder;
} */

.navbar {
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
}

.txt-center{
  text-align: center;
}

.my-padd {
  padding: 2% 5%;
}

.my-padd-2 {
  padding: 10% 5%;
}

.bg-my-light{
  background-color: grey;
}

.active{
  color: #395B64;
}

.body-cont-1 {
  margin: 100px auto;
}

.profile {
  align-items: center;
  text-align: center;
}

.profile_pic {
  border-radius: 100%;
  height: 250px;
}
